#mapid {

    margin-top: -20px;
    height: 89.5%;
    width: 100%;
}

footer {
    margin-top: 0px;
    margin-bottom:0px;

    background-color: black;
}

main {
    margin-top: 0px;
    margin-bottom: 0px;
}
