<html ng-app="Myapp">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==" crossorigin="" /> </head>

<body ng-controller="profile_con">
    <header>
        <nav class="navbar navbar-inverse" style="border-radius: 0px;border: 0px">
            <div class="container-fluid" style="background-color: black;border: 0px">
                <div class="navbar-header"> <a class="navbar-brand" style="color: white;background-color: #FF4500;font-size: 1.875em;font-weight: bold;font-style: italic;">ATLANTIS</a> </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" style="margin-right: 0px">
                            <div class="form-group has-feedback">
                                <input id="region_value" list="places_value" type="text" style="color: white;border-radius: 0px;background-color: black;" class="form-control" placeholder="Search"> <i style="color: white" class="glyphicon glyphicon-search form-control-feedback"></i>
                                <datalist id="places_value">
                                    <option ng-repeat="location in places" value="{{location.Name}}"></option>
                                </datalist>
                            </div>
                        </form>
                    </li>
                    <li style="text-align:center">
                        <h2 style="color:white;margin-top: 0px;margin-bottom: 0px">{{clock | date:timef}}</h2> <small style="color:white;"> {{clock | date:datef}} </small> </li>
                    <li>
                        <div class="dropdown" align="left" style="height: 50px">
                            <button class="btn btn-lg dropdown-toggle" id="listBut" type="button" data-toggle="dropdown"> <span class="glyphicon glyphicon-list icon-size" style="color:white"></span> </button>
                            <ul id="list_menu" class="dropdown-menu">
                                <li><a href="#">HTML</a> </li>
                                <li><a href="#">CSS</a> </li>
                                <li><a href="#">JavaScript</a> </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button class="btn btn-lg dropdown-toggle  " style="border-radius: 0px; height: 50px; width: 50px;background-color: black" type="button" data-toggle="dropdown"> <span class="glyphicon"><img style="height: 30px;width: 30px" src="../images/image(3).jpg"></span> </button>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown" align="left" style="height: 50px">
                            <button class="btn btn-lg dropdown-toggle  " style="border-radius: 0px; height: 50px; width: 50px;background-color: black" type="button" data-toggle="dropdown"> <span class="glyphicon glyphicon-bell icon-size" style="color:white "><br><img src="images/back_arrow.png"> </span></button>
                            <ul class="dropdown-menu" style="margin-top: -3px ;background-color: black;">
                                <li><a href="#">HTML</a> </li>
                                <li><a href="#">CSS</a> </li>
                                <li><a href="#">JavaScript</a> </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div id="profile_dropdown" class="dropdown" align="left">
                            <button id="menu" ng-click="state = !state" class="btn btn-lg dropdown-toggle " type="button" data-toggle="dropdown"><span ng-hide="state" class="glyphicon glyphicon-align-justify icon-size" style="color:white"></span><span ng-show="state " class="glyphicon glyphicon-chevron-right icon-size" style="color:white"></span> </button>
                            <ul id="list" class="dropdown-menu" ng-mouseleave="chevron_off()" ng-mouseenter="chevron_on()">
                                <li> <img src="http://lorempixel.com/80/80/people"> &nbsp;
                                    <p> &nbsp;&nbsp;Place Name
                                        <br><span>&nbsp;&nbsp;<a href="#">Logout</a></span> </p>
                                </li>
                                <br>
                                <li class="divider"></li>
                                <li style="text-align: right" id="Policies_events"><a data-toggle="modal" href="#policies_modal" style="color:white;">Policies\Events</a> </li>
                                <li style="text-align: right" id="settings"><a href="#" style="color:white;">Settings</a> </li>
                                <li style="text-align: right" id="help"><a href="#" style="color:white;">Help</a> </li>
                            </ul>
                            <div id="policies_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><img class="image-responsive" src="images/cross-circular-button-outline.svg"></button>
                                            <h4 class="modal-title">Policies\Events</h4> </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div id="create_new" class="col-md-6">
                                                        <form >
                                                           <h4>Create New</h4>

                                                           <div id="radio_group">
                                                            <input type="radio" name="policy/event" value="policy" checked> Policy
                                                            <input type="radio" name="policy/event" value="event"> Event
                                                            </div>
                                                             <hr>
                                                             <div>
                                                                 <h6>Module</h6>
                                                             </div>
                                                             </form>
                                                    </div>
                                                    <div id="display_event" class="col-md-6">.col-md-6</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="mapid">
            <div class="row" id="overv_tab">
                <div class="col-md-12">
                    <button id="ob">OVERVIEW<span id="ovcaret" class="caret"></span></button>
                </div>
            </div>
            <div class="row" id="overviewPannel">
                <div class="col-md-12">
                    <ul id="ovitems">
                        <li class="ovitems_container">
                            <ul class="container_header">
                                <li> <img class="img-responsive" src="images/street-light.svg"> </li>
                                <li class="container_data">
                                    <spam class="container_number">2501</spam>
                                    <br>
                                    <spam class="container_text">Total lights</spam>
                                </li>
                            </ul>
                            <ul class="container_footer" style="padding-left: 0px">
                                <li> 586
                                    <br>Lights On </li>
                                <li> 40
                                    <br>Lights Off </li>
                                <li>10
                                    <br>Not Working </li>
                            </ul>
                        </li>
                        <li class="ovitems_container">
                            <ul class="container_header">
                                <li> <img class="img-responsive" src="images/sedan-car-model.svg"> </li>
                                <li class="container_data">
                                    <spam class="container_number">2501</spam>
                                    <br>
                                    <spam class="container_text">Total Cars</spam>
                                </li>
                            </ul>
                            <ul class="container_footer" style="padding-left: 0px">
                                <li> 586
                                    <br>Cars On </li>
                                <li> 40
                                    <br>Cars Off </li>
                                <li>10
                                    <br>Not Working </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" id="leg_but">
                <div class="col-md-12">
                    <button id="lb">LEGEND<span id="lbcaret" class="caret"></span></button>
                </div>
            </div>
            <div id="Legend_tab">
                <select ng-model="legend_value">
                    <option ng-repeat="moduleData in modulesData" value="{{moduleData.Name}}" id="{{moduleData.Name}}">{{moduleData.Name}}</option>
                </select>
                <div id="legend_display">
                    <h5>{{legend_value}}  ICONS</h5>
                    <ul>
                        <li ng-if="legend_value == 'LIGHTING'" ng-repeat="LIGHTvalue in lightData" id="l{{$index}}"><img src='{{LIGHTvalue.lighticon_images}}'>{{LIGHTvalue.lighticon_names}}</li>
                        <li ng-if="legend_value == 'PARKING'" ng-repeat="PARKvalue in parkingData" id="p{{$index}}"><img src='{{PARKvalue.parkingicon_images}}'>{{PARKvalue.parkingicon_names}}</li>
                        <ul ng-if="legend_value == 'PARKING'" id="occupancy">
                            <br>
                            <h5>
                       OCCUPANCY
                   </h5>
                            <li><img src="images/square-16 (2).png">HIGH</li>
                            <li> <img src="images/square-16 (1).png">MEDIUM</li>
                            <li> <img src="images/square-16.png">LOW</li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="row" id="mod_but">
                <div class="col-md-12">
                    <button id="mb"><span id="module_caret" class="caret"></span> MODULES</button>
                </div>
            </div>
            <div class="row" id="Modules_tab">
                <ul class="list-group">
                    <li class="list-group-item" style="background-color: black;border: 0px;" ng-repeat="moduleData in modulesData">
                        <div class="material-switch">
                            <spam for="c{{$index}}">{{moduleData.Name}}</spam>
                            <input id="c{{$index}}" name="{{moduleData.Name}}" value="{{moduleData.Name}}" type="checkbox">
                            <label for="c{{$index}}"></label>
                        </div>
                    </li>
                </ul>
                <div id="accordion">
                    <div class="wrap"> </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div id="lu" class="col-sm-2">
                    <h6>LIVE UPDATE </h6> </div>
                <div id="maps" class="col-sm-3">
                    <h6><span class="glyphicon glyphicon-cog"></span> MAPS</h6> </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js" integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA==" crossorigin=""></script>
<script src="js/app.js"></script>
<script src="js/map.js"></script>
<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

</html>
